<% content_for :breadcrumbs do %>
  <%= link_to 'Home', root_path %>
  &raquo;
  Privacy Policy
<% end %>

<h3>Privacy Policy</h3>

Your information is yours. We promise not to sell or distribute it ourselves without your explicit consent, but Workforastartup has built-in social media features, so your profile and job postings are likely to be shared, social bookmarked, dugg, emailed, etc.

<br /><br />
No one can see your contact info unless you include it in your profile, and we won't give it out to anyone. Soon, you will be able to control your contact settings under the "account settings" tab.

<br /><br />
If anything changes, we'll let you know here. Cool? Cool. Just be nice.
