<% content_for :breadcrumbs do %>
  <%= link_to 'Home', root_path %>
  &raquo;
  Terms of Service
<% end %>

<% cache do %>
  <h3> Terms of Service </h3>

  This page states the Terms of Use ("Terms") under which You (as defined below) may use www.Workforastartup.in ("Workforastartup.in"), an on-line service to post and search employment opportunities.
  <br /><br />
  Please read these Terms carefully. If You do not accept the Terms stated here, do not use Workforastartup.in and its services. By using Workforastartup.in, You agree to be bound by these Terms, including the Workforastartup Privacy Statement.
  <br /><br />
  Workforastartup may revise these Terms at any time by posting an updated version to this Web page. You should visit this page periodically to review the most current Terms because they are binding on You. The terms "You" and "User" as used herein refer to all individuals and/or entities accessing Workforastartup.in for any reason. The term "post" as used herein shall mean information that You submit, publish or display on any Workforastartup Site (as defined below).
  <br /><br />

  <div style="font-weight:bold;">1. Eligibility.</div>
  <br />
  You must be 18 years of age or older, or the age of majority as that is defined in your jurisdiction, whichever is older, to visit or use Workforastartup.in in any manner. By visiting Workforastartup.in or accepting these Terms, You represent and warrant to Workforastartup that You have reached the age of majority in your jurisdiction, and that You have the right, authority and capacity to agree to and abide by these Terms. You also represent and warrant to Workforastartup that You will use Workforastartup.in in a manner consistent with any and all applicable laws and regulations. 
  <br /><br />


  <div style="font-weight:bold;">2. Use of Workforastartup Content.</div>
  <br />
  Workforastartup authorizes You to view and access a single copy of the content available on or from Workforastartup.in solely for your personal use. The contents of Workforastartup.in, and of all other Web sites under Workforastartup's control, whether partial or otherwise (Workforastartup.in and such other Web sites are sometimes collectively referred to as "Workforastartup Sites") such as text, graphics, images, logos, button icons, software and other Workforastartup content (collectively, "Workforastartup Content"), are protected under both Indian and foreign copyright, trademark and other laws. All Workforastartup Content is the property of Workforastartup or its content suppliers or clients. The compilation (meaning the collection, arrangement and assembly) of all content on the Workforastartup Sites is the exclusive property of Workforastartup and is protected by Indian and foreign copyright, trademark, and other laws. Unauthorized use of the Workforastartup Content may violate these laws, and is strictly prohibited. You must retain all copyright, trademark, service mark and other proprietary notices contained in the original Workforastartup Content on any authorized copy You make of the Workforastartup Content.
  <br /><br />
  You agree not to sell or modify the Workforastartup Content or reproduce, display, publicly perform, distribute, or otherwise use the Workforastartup Content in any way for any public or commercial purpose, in connection with products or services that are not those of Workforastartup.in, in any other manner that is likely to cause confusion among consumers, that disparages or discredits Workforastartup or its licensors, that dilutes the strength of Workforastartup's or its licensor’s property, or that otherwise infringes Workforastartup's or its licensor’s intellectual property rights. You further agree to in no other way misuse Workforastartup Content that appears on this Site. The use of the Workforastartup Content on any other Web site or in a networked computer environment for any purpose is prohibited. Any code that Workforastartup creates to generate or display any Workforastartup Content or the pages making up any Workforastartup Site is also protected by Workforastartup's copyright and you may not copy or adapt such code. 
  <br /><br />

  <div style="font-weight:bold;">3. Workforastartup Site Restrictions.</div>
  <br />
  Users may not use any Workforastartup Site in order to transmit, post, distribute, store or destroy material, including without limitation, Workforastartup Content, (a) in violation of any applicable law or regulation, (b) in a manner that will infringe the copyright, trademark, trade secret or other intellectual property rights of others or violate the privacy, publicity or other personal rights of others, or (c) that is defamatory, obscene, threatening, abusive or hateful. 
  <br /><br />

  Users are also prohibited from violating or attempting to violate the security of any Workforastartup Site, including without limitation, the following activities: (a) accessing data not intended for such User or logging into a server or account which the User is not authorized to access; (b) attempting to probe, scan or test the vulnerability of a system or network or to breach security or authentication measures without proper authorization; (c) attempting to interfere with service to any User, host or network, including, without limitation, via means of submitting a virus to any Workforastartup Site, overloading, "flooding", "spamming", "mailbombing" or "crashing"; or (d) forging any TCP/IP packet header or any part of the header information in any e-mail or newsgroup posting. Violations of system or network security may result in civil and/or criminal liability. Workforastartup will investigate occurrences which may involve such violations and may involve, and cooperate with, law enforcement authorities in prosecuting Users who are involved in such violations. 
  <br /><br />
  In order to ensure a safe and effective experience for all of our customers, Workforastartup reserves the right to limit the amount of data (including resume views) that may be accessed by You in any given time period. These limits may be amended in Workforastartup’s sole discretion from time to time.
  <br /><br />

  <div style="font-weight:bold;">4. Specific Prohibited Uses.</div>
  <br />
  The job posting and other features of Workforastartup.in may be used only for lawful purposes by individuals seeking employment and career information and employers seeking employees. 
  <br /><br />
  Workforastartup specifically prohibits any other use of Workforastartup.in, and all Users agree not to do any of the following: (a) post any jobs on any Workforastartup Site for any competitor of Workforastartup or post jobs or other content that contains links to any site competitive with Workforastartup(b) post jobs for modeling or talent or talent scouting positions on any Workforastartup Site; (c) post or submit to any Workforastartup Site any incomplete, false or inaccurate biographical information or information which is not your own; (d) post on any Workforastartup Site any franchise, pyramid scheme, "club membership", distributorship or sales representative agency arrangement or other business opportunity which requires an up front or periodic payment, pays commissions only (except for postings that make clear that the available job pays commission only and clearly describes the product or service that the job seeker would be selling, in which case such postings are permissible), or requires recruitment of other members, sub-distributors or sub-agents; (e) send unsolicited mail or e-mail, make unsolicited phone calls or send unsolicited faxes regarding promotions and/or advertising of products or services to a User of any Workforastartup Site; (f) delete or revise any material posted by any other person or entity; (g) take any action that imposes an unreasonable or disproportionately large load on any Workforastartup Site's infrastructure; (h) notwithstanding anything to the contrary contained herein, use or attempt to use any engine, software, tool, agent or other device or mechanism (including without limitation browsers, spiders, robots, avatars or intelligent agents) to navigate or search any Workforastartup Site other than the search engine and search agents available from Workforastartup on such Workforastartup Site and other than generally available third party web browsers (e.g., Internet Explorer, Firefox, Safari); (i) decipher, decompile, disassemble or reverse engineer any of the software comprising or in any way making up a part of any Workforastartup Site; (j) aggregate, copy or duplicate in any manner any of the Workforastartup Content or information available from any Workforastartup Site, without express written consent from Workforastartup; or (k) frame or link to any Workforastartup Content or information available from any Workforastartup Site. Unless you’re being cool about it.
  <br /><br />

  Workforastartup does not necessarily monitor any materials posted, transmitted, or communicated to or within the Site. If you believe that something on the Site violates these Terms please contact our designated agent set forth in Section 10 below.
  <br /><br />
  If notified by a User of User Content or other materials which allegedly do not conform to these Terms, Workforastartup may in its sole discretion investigate the allegation and determine whether to take any other actions whether to remove or request the removal of the User Content. Workforastartup has no liability or responsibility to Users for performance or nonperformance of such activities. 
  <br /><br />

  <div style="font-weight:bold;">5. Registration Information.</div>
  <br />
  When You register with any Workforastartup Site, You will be asked to create a Workforastartup Account or other account and provide Workforastartup with certain information including, without limitation, a valid email address (your "Information"). Information you submit will be used in accordance with Workforastartup's Privacy Statement. 
  <br /><br />
  You understand and acknowledge that you have no ownership rights in your Workforastartup Account, and that if you cancel your Workforastartup Account, all your account information from Workforastartup, including resumes, Profiles, cover letters, network contacts, saved jobs, questionnaires and email mailing lists, will be marked as deleted in Workforastartup's databases and will be removed from any public area of the Workforastartup Sites. Information may continue to be available for some period of time because of delays in propagating such deletion through Workforastartup’s web servers. In addition, third parties may retain cached copies of your Information.
  <br /><br />


  <div style="font-weight:bold;">6. User Content and Submissions.</div>
  <br />
  You are solely responsible for your account information, employer account information or job postings, Profile, content (including, without limitation works in any form, media, or technology whether now known or later developed), messages, audio, video, photos, text, images, compilations or other information ("User Content") that You post on any Workforastartup Site or transmit to other Users. You agree that in submitting User Content or otherwise using any Workforastartup Site that you will not impersonate any person, or submit any materials to Workforastartup that are false, inaccurate, misleading, unlawful, or are otherwise in violation of your obligations under these Terms.
  <br /><br />
  By posting User Content to any public area of any Workforastartup Site, including without limitation, message boards, Profiles, forums, contests and chat rooms, You automatically grant to Workforastartup and its affiliates an irrevocable, royalty-free, perpetual, fully paid non-exclusive right (including moral rights) and worldwide license to use, copy, reproduce, modify, adapt, publish, translate, communicate to the public, perform, display, and distribute such User Content (in whole or in part) and to prepare derivative works of, or incorporate into other works (in any form, media or technology now known or later developed, for the full term of any rights that may exist in such content) such User Content, and to grant and authorize sublicenses thereof (through multiple tiers). 
  <br /><br />
  You also represent and warrant that You have the right to grant or that the holder of any rights, including moral rights in such content, has completely and effectively waived all such rights and validly and irrevocably granted to You the right to grant, the license stated above. If you post User Content in any public area of any Workforastartup Site, You also permit any User to access, display, view, store and reproduce such User Content for personal use. Subject to the foregoing, the owner of such User Content placed on any Workforastartup Site retains any and all rights that may exist in such User Content.
  <br /><br />
  Workforastartup acts as a passive conduit for the online distribution and publication of User Content and has no obligation to screen User Content, communications or information in advance and is not responsible for screening or monitoring User Content posted by Users. However, Workforastartup may review and remove any User Content that, in its sole judgment, violates these Terms, violates applicable laws, rules or regulations, is abusive, disruptive, offensive or illegal, or violates the rights of, or harms or threatens the safety of, Users of any Workforastartup Site. Workforastartup reserves the right to expel Users and prevent their further access to the Workforastartup Sites and/or use of Workforastartup services for violating the Terms or applicable laws, rules or regulations. Workforastartup may take any action with respect to User Content that it deems necessary or appropriate in its sole discretion if it believes that such User Content could create liability for Workforastartup, damage Workforastartup’s brand or public image, or cause Workforastartup to lose (in whole or in part) the services of its ISPs or other suppliers. 
  <br /><br />

  Workforastartup does not represent or guarantee the truthfulness, accuracy, or reliability of User Content or any other communications posted by Users or endorse any opinions expressed by Users. You acknowledge that any reliance on material posted by other Users will be at your own risk. 
  <br /><br />
  The following is a partial list of User Content that is prohibited on the Workforastartup Sites. The list below is for illustration only and is not a complete list of all prohibited User Content. 
  <br /><br />
  Content that:
  <br />
  •	is implicitly or explicitly offensive, such as User Content that engages in, endorses or promotes racism, bigotry, discrimination, hatred or physical harm of any kind against any group or individual; 
  <br />
  •	harasses, incites harassment or advocates harassment of any group or individual; 
  <br />
  •	involves the transmission of "junk mail", "chain letters," or unsolicited mass mailing or "spamming"; 
  <br />

  •	promotes or endorses false or misleading information or illegal activities or conduct that is abusive, threatening, obscene, defamatory or libelous; 
  <br />
  •	promotes or endorses an illegal or unauthorized copy of another person's copyrighted work, such as providing or making available pirated computer programs or links to them, providing or making available information to circumvent manufacture-installed copy-protect devices, or providing or making available pirated music or other media or links to pirated music or other media files; 
  <br />
  •	contains restricted or password only access pages, or hidden pages or images; 
  <br />
  •	displays or links to pornographic, indecent or sexually explicit material of any kind; 
  <br />
  •	provides or links to material that exploits people under the age of 18 in a sexual, violent or other manner, or solicits personal information from anyone under 18; or 
  <br />
  •	provides instructional information about illegal activities or other activities prohibited by these Terms, including without limitation, making or buying illegal weapons, violating someone's privacy, providing or creating computer viruses or pirating any media; and 
  <br />

  •	solicits passwords or personal identifying information from other Users. 
  <br /><br />
  If notified by a User of User Content or other materials which allegedly do not conform to these Terms, Workforastartup may in its sole discretion investigate the allegation and determine whether to take any other actions whether to remove or request the removal of the User Content. Workforastartup has no liability or responsibility to Users for performance or nonperformance of such activities. 
  <br /><br />
  We appreciate hearing from our Users and welcome your comments regarding our services and the Workforastartup Sites. Please be advised, however, that our policy does not permit us to accept or consider creative ideas, suggestions, inventions or materials other than those which we have specifically requested. While we do value your feedback on our services, please be specific in your comments regarding our services and do not submit creative ideas, inventions, suggestions, or materials. If, despite our request, You send us creative suggestions, ideas, drawings, concepts, inventions, or other information (collectively the "Submission"), the Submission shall be the property of Workforastartup. None of the Submission shall be subject to any obligation of confidentiality on our part and we shall not be liable for any use or disclosure of any Submission. Workforastartup shall own exclusively all now known or later discovered rights to the Submission and shall be entitled to unrestricted use of the Submission for any purpose whatsoever, commercial or otherwise, without compensation to You or any other person.
  <br /><br />

  <div style="font-weight:bold;">7. Registration and Password.</div>
  <br />
  You are responsible for maintaining the confidentiality of your employer account, Workforastartup Account, Profile and passwords, as applicable.. You may not share your password or other account access information with any other party, temporarily or permanently, and You shall be responsible for all uses of your Workforastartup.in registrations and passwords, whether or not authorized by You. You agree to immediately notify Workforastartup of any unauthorized use of your employer account, as the case may be.
  <br /><br />


  <div style="font-weight:bold;">8. Identification Of Agent To Receive Notification And Elements Of Notification Of Claimed Copyright or Trademark Infringement.</div>
  <br />
  If You believe that your copyrighted work or trademark has been uploaded, posted or copied to any Workforastartup Site and is accessible on such Workforastartup Site in a way that constitutes copyright or trademark infringement, please print and complete the Workforastartup Proprietary Rights Complaint Process and Notification Form and send such completed form to our designated agent.
  <br /><br />

  <div style="font-weight:bold;">9. Policy Regarding Termination Of Users Who Repeatedly Infringe The Copyright Or Other Intellectual Property Rights Of Others.</div>
  <br />
  Workforastartup, (owned by Mortar Systems) and all of its affiliated companies respect the intellectual property of others, and we ask our Users and content partners to do the same. The unauthorized posting, reproduction, copying, distribution, modification, public display or public performance of copyrighted works constitutes infringement of the copyright owners rights. As a condition to your use of Workforastartup.in, You agree not to use Workforastartup.in or any other Workforastartup Site to infringe the intellectual property rights of others in any way. We will terminate the accounts of any Workforastartup.in Users, and block access to Workforastartup.in and/or the other Workforastartup Sites of any Users who are repeat infringers of the copyrights, or other intellectual property rights, of others. We reserve the right to take these actions at any time, in our sole discretion, with or without notice, and without any liability to the User who is terminated or to the User whose access is blocked.
  <br /><br />

  <div style="font-weight:bold;">10. Workforastartup's Liability.</div>

  <br />
  Workforastartup.in acts as a venue for employers to post job opportunities and candidates to post resumes and Profiles and does not screen or censor the listings, including Profiles offered. Workforastartup is not involved in the actual transaction between employers and candidates. As a result, Workforastartup has no control over User Content, the quality, safety or legality of the jobs or resumes posted, the truth or accuracy of the listings, the ability of employers to offer job opportunities to candidates or the ability of candidates to fill job openings and Workforastartup makes no representations about any jobs, resumes or User Content on Workforastartup.in. Workforastartup may take any action with respect to User Content that it deems necessary or appropriate in its sole discretion if it believes that such User Content could create liability for Workforastartup, damage Workforastartup’s brand or public image, or cause Workforastartup to lose (in whole or in part) the services of its ISPs or other suppliers. While Workforastartup reserves the right in its sole discretion to remove User Content, job postings, resumes or other material from Workforastartup.in from time to time, Workforastartup does not assume any obligation to do so and disclaims any liability for failing to take any such action.
  <br /><br />
  In addition, note that there are risks, including but not limited to the risk of physical harm, of dealing with strangers, foreign nationals, underage persons or people acting under false pretenses. You assume all risks associated with dealing with other Users with whom You come in contact through Workforastartup.in and/or the other Workforastartup Sites. By its very nature, other people's information may be offensive, harmful or inaccurate, and in some cases will be mislabeled or deceptively labeled. We expect that You will use caution and common sense when using Workforastartup.in and/or the other Workforastartup Sites. 
  <br /><br />
  Because User authentication on the Internet is difficult, Workforastartup cannot and does not confirm that each User is who they claim to be. Because we do not and cannot be involved in User-to-User dealings or control the behavior of participants on any Workforastartup Site, in the event that You have a dispute with one or more Users, You release Workforastartup (and our agents and employees) from claims, demands and damages (actual and consequential and direct and indirect) of every kind and nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way connected with such disputes. 

  <br /><br />
  The Workforastartup Sites and the Workforastartup Content may contain inaccuracies or typographical errors. Workforastartup makes no representations about the accuracy, reliability, completeness, or timeliness of any Workforastartup Site or the Workforastartup Content. The use of all Workforastartup Sites and the Workforastartup Content is at your own risk. Changes are periodically made to Workforastartup Sites and may be made at any time. You acknowledge and agree that You are solely responsible for the form, content and accuracy of any resume or material contained therein placed by You on the Workforastartup Sites. Employers are solely responsible for their postings on Workforastartup Sites. Workforastartup is not to be considered to be an employer with respect to your use of any Workforastartup Site and Workforastartup shall not be responsible for any employment decisions, for whatever reason, made by any entity posting jobs on any Workforastartup Site. 
  <br /><br />

  Workforastartup cannot guarantee and does not promise any specific results from use of Workforastartup.in or any Workforastartup Site. No advice or information, whether oral or written, obtained by a User from Workforastartup or through or from Workforastartup.in or any other Workforastartup Site shall create any warranty not expressly stated herein.
  <br /><br />

  <div style="font-weight:bold;">11. Disclaimer of Warranty.</div>
  <br />
  WORKFORASTARTUP DOES NOT WARRANT THAT ANY WORKFORASTARTUP SITE WILL OPERATE ERROR-FREE OR THAT ANY WORKFORASTARTUP SITE AND ITS SERVERS ARE FREE OF COMPUTER VIRUSES OR OTHER HARMFUL MECHANISMS. IF YOUR USE OF ANY WORKFORASTARTUP SITE OR THE WORKFORASTARTUP CONTENT RESULTS IN THE NEED FOR SERVICING OR REPLACING EQUIPMENT OR DATA, WORKFORASTARTUP IS NOT RESPONSIBLE FOR THOSE COSTS. THE WORKFORASTARTUP SITES AND WORKFORASTARTUP CONTENT ARE PROVIDED ON AN "AS IS" BASIS WITHOUT ANY WARRANTIES OF ANY KIND. WORKFORASTARTUP, TO THE FULLEST EXTENT PERMITTED BY LAW, DISCLAIMS ALL WARRANTIES, WHETHER EXPRESS OR IMPLIED, INCLUDING THE WARRANTY OF MERCHANTABILITY, FITNESS FOR PARTICULAR PURPOSE AND NON-INFRINGEMENT. WORKFORASTARTUP MAKES NO WARRANTIES ABOUT THE ACCURACY, RELIABILITY, COMPLETENESS, OR TIMELINESS OF THE WORKFORASTARTUP CONTENT, SERVICES, SOFTWARE, TEXT, GRAPHICS, AND LINKS.
  <br /><br />

  <div style="font-weight:bold;">12. Disclaimer of Consequential Damages.</div>
  <br />

  IN NO EVENT SHALL WORKFORASTARTUP, ITS SUPPLIERS, OR ANY THIRD PARTIES MENTIONED ON ANY WORKFORASTARTUP SITE BE LIABLE FOR ANY DAMAGES WHATSOEVER (INCLUDING, WITHOUT LIMITATION, INCIDENTAL AND CONSEQUENTIAL DAMAGES, LOST PROFITS, OR DAMAGES RESULTING FROM LOST DATA OR BUSINESS INTERRUPTION) RESULTING FROM THE USE OR INABILITY TO USE ANY WORKFORASTARTUP SITE AND THE WORKFORASTARTUP CONTENT, WHETHER BASED ON WARRANTY, CONTRACT, TORT, OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT WORKFORASTARTUP IS ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
  <br /><br />

  <div style="font-weight:bold;">13. Limitation of Liability.</div>
  <br />
  WORKFORASTARTUP'S MAXIMUM LIABILITY ARISING OUT OF OR IN CONNECTION WITH ANY WORKFORASTARTUP SITE OR YOUR USE OF THE WORKFORASTARTUP CONTENT, REGARDLESS OF THE CAUSE OF ACTION (WHETHER IN CONTRACT, TORT, BREACH OF WARRANTY OR OTHERWISE), WILL NOT EXCEED $100. 
  <br /><br />

  <div style="font-weight:bold;">14. Links to Other Sites.</div>
  <br />
  Workforastartup.in and certain other Workforastartup Sites contain links to third party Web sites. These links are provided solely as a convenience to You and not as an endorsement by Workforastartup of the contents on such third-party Web sites. Workforastartup is not responsible for the content of linked third-party sites and does not make any representations regarding the content or accuracy of materials on such third party Web sites. If You decide to access linked third-party Web sites, You do so at your own risk. 
  <br /><br />


  <div style="font-weight:bold;">15. No Resale or Unauthorized Commercial Use.</div>
  <br />
  You agree not to resell or assign your rights or obligations under these Terms. You also agree not to make any unauthorized commercial use of any Workforastartup Site. 
  <br /><br />

  <div style="font-weight:bold;">16. Indemnity.</div>
  <br />
  You agree to defend, indemnify, and hold harmless Workforastartup, its affiliates, and their respective officers, directors, employees and agents, from and against any claims, actions or demands, including without limitation reasonable legal and accounting fees, alleging or resulting from (i) any User Content or other material You provide to any Workforastartup Site, (ii) your use of any Workforastartup Content, or (iii) your breach of the terms of these Terms. Workforastartup shall provide notice to You promptly of any such claim, suit, or proceeding. 
  <br /><br />

  <div style="font-weight:bold;">17. General.</div>

  <br />
  Workforastartup makes no claims that the Workforastartup Content may be lawfully viewed or accessed outside of the India. Access to the Workforastartup Content may not be legal by certain persons or in certain countries. If You access a Workforastartup.in or other India-based Workforastartup Sites from outside of the India, You do so at your own risk and are responsible for compliance with the laws of your jurisdiction. These Terms are governed by the internal substantive laws of the Union Territory of Chandigarh, without respect to its conflict of laws principles. Jurisdiction for any claims arising under this agreement shall lie exclusively with the courts within Chandigarh, U.T. If any provision of these Terms are found to be invalid by any court having competent jurisdiction, the invalidity of such provision shall not affect the validity of the remaining provisions of these Terms, which shall remain in full force and effect. No waiver of any term of these Terms shall be deemed a further or continuing waiver of such term or any other term. In addition, Workforastartup’s failure to enforce any term of these Terms shall not be deemed as a waiver of such term or otherwise affect Workforastartup’s ability to enforce such term at any point in the future. Except as expressly provided in an additional agreement, additional Terms for certain areas of Workforastartup.in, a particular "Legal Notice," or software license or material on particular Workforastartup.in pages, these Terms constitute the entire agreement between You and Workforastartup with respect to the use of Workforastartup.in. No changes to these Terms shall be made except by a revised posting on this page. 
  <br /><br />

  <div style="font-weight:bold;">18. Additional Terms.</div>
  <br />
  Certain areas of Workforastartup.in and the other Workforastartup Sites are subject to additional Terms. By using such areas, or any part thereof, You agree to be bound by the additional Terms applicable to such areas. 
  <br /><br />
  By using any areas of this website or the other Workforastartup Sites that contain Google Maps, you agree to be bound by the Google Maps Terms of Use available at <a href="http://maps.google.in/help/terms_maps.html">http://maps.google.in/help/terms_maps.html</a> and the legal notices available at <a href="http://www.maps.google.in/help/legalnotices_maps.html">http://www.maps.google.in/help/legalnotices_maps.html</a> as they may be updated from time to time. 
  <br /><br />


  <div style="font-weight:bold;">19. Term and Termination</div>
  <br />
  These Terms will remain in full force and effect while You are a User of Workforastartup.in at any level. Workforastartup reserves the right, at its sole discretion, to pursue all of its legal remedies, including but not limited to removal of your User Content from Workforastartup.in and the other Workforastartup Sites and immediate termination of your registration with or ability to access Workforastartup.in and the other Workforastartup Sites and/or any other services provided to You by Workforastartup, upon any breach by You of these Terms or if Workforastartup is unable to verify or authenticate any information You submit to Workforastartup.in or pursuant to other Workforastartup Site registration. Even after You are no longer a User of Workforastartup.in, certain provisions of these Terms will remain in effect.
  <br /><br />
  These Terms constitute a binding agreement between You and Workforastartup, and is accepted by You upon your use of the Workforastartup Site.
  <br /><br />
  Just be nice. Cool? Cool.
<% end %>
